CREATE TABLE IF NOT EXISTS user_status_history (
    id INT NOT NULL AUTO_INCREMENT,
    user_id INT NOT NULL,
    status_type ENUM('verification', 'health') NOT NULL,
    status VARCHAR(50) NOT NULL,
    reason TEXT,
    created_at TIMESTAMP DEFAULT CURRENT_TIMESTAMP,
    created_by VARCHAR(100),
    PRIMARY KEY (id),
    FOREIGN KEY (user_id) REFERENCES users(id) ON DELETE CASCADE
);
